<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>My favorite Cafe</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
      integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I"
      crossorigin="anonymous"
    />
    <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script>
  </head>
  <body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Cafes</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link" href="/home">Home</a>
            <a class="nav-link" href="/cafe/info/1">Cafes</a>
            <a class="nav-link" href="/cafe/search">Search</a>
          </div>
          <div class="navbar-nav ml-auto">
            <% if(!currentUser) { %>
            <a class="nav-link" href="/login">Login</a>
            <a class="nav-link" href="/register">Register</a>
            <% } %> <% if(currentUser) { %>
            <a class="nav-link" href="/logout">Logout</a>
            <% } %>
          </div>
        </div>
      </div>
    </nav>
    <br />
    <div class="row justify-content-center">
      <div class="col-5">
        <div class="card mb-6">
          <div class="card-body">
            <h5 class="card-title"><%= cafeInfo.name%> 점</h5>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item text-muted">
              Address: <%= cafeInfo.address%>
            </li>
            <li class="list-group-item">Contact: <%= cafeInfo.number%></li>
          </ul>
          <div class="card-footer text-muted">
            Leave Your Reivews for our Store !
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-5">
          <div id="map"></div>
          <% if(currentUser) { %>
          <h2>Leave a Review</h2>
          <form
            action="/review/post/<%=cafeInfo.id%>"
            method="POST"
            class="mb-1 validated-form"
            novalidate
          >
            <fieldset class="starability-basic">
              <input
                type="radio"
                id="first-rate1"
                name="reviewRating"
                value="1"
              />
              <label for="first-rate1" title="Terrible">1 star</label>
              <input
                type="radio"
                id="first-rate2"
                name="reviewRating"
                value="2"
              />
              <label for="first-rate2" title="Terrible">2 star</label>
              <input
                type="radio"
                id="first-rate3"
                name="reviewRating"
                value="3"
              />
              <label for="first-rate3" title="Terrible">3 star</label>
              <input
                type="radio"
                id="first-rate4"
                name="reviewRating"
                value="4"
              />
              <label for="first-rate4" title="Terrible">4 star</label>
              <input
                type="radio"
                id="first-rate5"
                name="reviewRating"
                value="5"
              />
              <label for="first-rate5" title="Terrible">5 star</label>
            </fieldset>
            <div class="mb-3">
              <label class="form-label" for="body"></label>
              <textarea
                class="form-control"
                name="reviewBody"
                id="reviewBody"
                cols="30"
                rows="3"
                required
              ></textarea>
              <div class="valid-feedback">Looks good!</div>
            </div>
            <button class="btn btn-success">Submit</button>
            <br />
            <br />
          </form>
          <% } %> <% for(review of reviews) { %>
          <div class="card mb-3">
            <div class="card-body">
              <h5 class="card-title">Writer: <%= review.writer_id%></h5>
              <p class="starability-result" data-rating="<%=review.rating%>">
                Rating: <%= review.rating%> stars
              </p>
              <p class="card-text"><%=review.reviewContent%></p>
              <% if(currentUser && currentUser.id === review.writer_id) { %>
              <form
                action="/review/delete/<%=cafeId%>/<%=review.review_id%>?_method=DELETE"
                method="POST"
              >
                <button class="btn btn-sm btn-danger">Delete</button>
              </form>
              <% } %>
            </div>
          </div>
          <% } %>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
      integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"
      integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
