<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title><%= data.title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
      integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I"
      crossorigin="anonymous"
    />
    <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script>
  </head>
  <body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Cafes</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link" href="/home">Home</a>
            <a class="nav-link" href="/cafe/info/1">Cafes</a>
            <a class="nav-link" href="/cafe/myFavCafe/<%=userId%>"
              >Favorite Cafes</a
            >

            <a class="nav-link" href="/cafe/search">Search</a>
          </div>
          <div class="navbar-nav ml-auto">
            <% if(!currentUser) { %>
            <a class="nav-link" href="/login">Login</a>
            <a class="nav-link" href="/register">Register</a>
            <% } %> <% if(currentUser) { %>
            <a class="nav-link" href="/edit/username">Edit Username </a>
            <a class="nav-link" href="/edit/password">Edit Password </a>
            <a class="nav-link" href="/logout">Logout</a>

            <% } %>
          </div>
        </div>
      </div>
    </nav>
    <br />
    <br />
    <br />

    <div id="map" style="width: 70%; height: 350px"></div>
    <br />
    <br />
    <h1>&lt; <%= data.title %> &gt;</h1>
    <br />

    <div class="cafe-info-list">
      <table border="1">
        <tr>
          <th>Name</th>
          <th>Address</th>
          <th>Number</th>
        </tr>
        <% for (let i = 0; i < myresult.length; i++) { %>
        <tr>
          <td><%=myresult[i].name%></td>
          <td>
            <%=myresult[i].address%>
            <button
              onclick="addMyCafe('<%=myresult[i].id%>')"
              class="btn btn-outline-success btn-sm"
              data-id="<%=myresult[i].id%>"
            >
              Add
            </button>
            <a class="btn btn-primary btn-sm" href="/review/<%=myresult[i].id%>"
              >Review</a
            >
          </td>
          <td><%=myresult[i].number%></td>
        </tr>
        <% } %>
        <tr>
          <td colspan="6">
            <% if (startPage != 1) { %>
            <span><a href="/cafe/info/<%= startPage - 1%>">이전</a></span>
            <% } %> <% for (let i = startPage; i < endPage + 1; i++) { %> <% if
            (i == currPage) { %>
            <span><%= i %></span>
            <% } else { %>
            <span><a href="/cafe/info/<%= i %>"><%= i %></a></span>
            <% } %> <% } %> <% if (endPage != totalPage) { %>
            <span><a href="/cafe/info/<%= endPage + 1 %>">다음</a></span>
            <% } %>
          </td>
        </tr>
      </table>
    </div>
    <script
      type="text/javascript"
      src="//dapi.kakao.com/v2/maps/sdk.js?appkey=a569c8095dc7fcdbab6ed2481d3d0220"
    ></script>
    <script>
      const addedCafes = [];

      function addMyCafe(id) {
        const cafe = document.querySelector(`[data-id="${id}"]`);
        const name = cafe
          .closest("tr")
          .querySelector("td:first-child").textContent;
        const address = cafe
          .closest("tr")
          .querySelector("td:nth-child(2)")
          .childNodes[0].textContent.trim();
        const number = cafe
          .closest("tr")
          .querySelector("td:nth-child(3)").textContent;

        // 이미 추가된 카페인지 검사
        if (
          addedCafes.some(
            (cafe) =>
              cafe.name === name &&
              cafe.address === address &&
              cafe.number === number
          )
        ) {
          alert("이미 추가된 카페입니다.");
          return;
        }

        if (confirm('"' + name + "점" + '" 을(를) 추가하시겠습니까?')) {
          fetch("/cafe/add", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },

            body: JSON.stringify({
              name: name,
              address: address,
              number: number,
            }),
          }).then((res) => {
            if (res.ok) {
              alert("추가되었습니다.");
              addedCafes.push({ name, address, number });
            } else {
              alert("추가되지 않았습니다.");
            }
          });
        }
      }
    </script>

    <script>
      var mapContainer = document.getElementById("map"), // 지도를 표시할 div
        mapOption = {
          center: new kakao.maps.LatLng(37.5662952, 126.9779451), // 지도의 중심좌표
          level: 3, // 지도의 확대 레벨
        };

      // 지도를 표시할 div와  지도 옵션으로  지도를 생성합니다
      var map = new kakao.maps.Map(mapContainer, mapOption);

      const positions = <%-JSON.stringify(result)%>;

      var imageSrc =
        "https://cdn-icons-png.flaticon.com/512/8732/8732538.png";

      for (var i = 0; i < positions.length; i++) {
        var imageSize = new kakao.maps.Size(40, 50);
        var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize);
        // 마커를 생성합니다
        var marker = new kakao.maps.Marker({
          map: map, // 마커를 표시할 지도
          position: new kakao.maps.LatLng(positions[i].lat, positions[i].lng), // 마커를 표시할 위치
          title: positions[i].name, // 마커의 타이틀, 마커에 마우스를 올리면 타이틀이 표시됩니다
          image: markerImage, // 마커 이미지
          clickable: true
        });
        // 마커를 지도에 표시합니다.
        marker.setMap(map);

        // 마커에 클릭이벤트를 등록합니다
        kakao.maps.event.addListener(marker, "click", makeClickListener(map, marker, positions[i].name, positions[i].address));
      }

      var prevInfowindow = null;


            // 클릭이벤트 핸들러 함수입니다
            function makeClickListener(map, marker, name, address) {
        return function() {
              // 이전에 열렸던 인포윈도우 닫기
         if (prevInfowindow) {
          prevInfowindow.close();
        }

          // 마커 위에 인포윈도우를 표시합니다
          var iwContent =
            '<div style="padding:5px;">' +
            name +
            "<br>" +
            address +
            "</div>", // 매장명과 전화번호를 표시
            iwRemoveable = true; // removeable 속성을 ture 로 설정하면 인포윈도우를 닫을 수 있는 x버튼이 표시됩니다


          // 인포윈도우를 생성합니다
          var infowindow = new kakao.maps.InfoWindow({
            content: iwContent,
            removable: iwRemoveable,
          });

          prevInfowindow = infowindow; // 현재 인포윈도우를 이전 인포윈도우로 저장


          infowindow.open(map, this);
        };
      }
    </script>
  </body>
</html>
